.header {
  border-radius: 12px;
  padding: 0 20px 0 20px;
  box-shadow: 0 4px 10px rgba(7, 39, 8, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.header:hover {
  background-color: #20550c;
  box-shadow: 0 8px 20px rgba(190, 44, 44, 0.3);
}
