.containerList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;

  flex-direction: row;
  gap: 100px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
}

.title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
  font-size: 50px;
  color: rgb(22, 153, 153);
  font-weight: 900;
}
