.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e; /* Темний фон для контейнера */
  padding: 30px;
  border-radius: 10px; /* Узгоджене округлення */
}

.title {
  font-size: 2rem; /* Зменшено розмір шрифту */
  line-height: 1.5;
  font-weight: 300;
  color: #242424;
  margin-bottom: 20px; /* Відступ від заголовка до форми */
  text-align: center; /* Вирівнювання по центру */
}

.form {
  border: 1px solid rgba(255, 255, 255, 0.2); /* Легкий контур */
  border-radius: 10px; /* Узгоджене округлення */
  max-width: 600px; /* Узгоджена максимальна ширина */
  padding: 30px;
  background-color: #282c34; /* Темний фон форми */
  color: rgba(255, 255, 255, 0.87); /* Світлий текст */
}

.label {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7); /* Світло-сірий колір для тексту */
  font-weight: 500;
  margin-bottom: 8px; /* Узгоджено з відступами */
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px; /* Узгоджено відступи */
  margin-bottom: 16px; /* Узгоджено відступи між полями та кнопкою */
}

.input {
  width: 100%; /* Зроблено ширину адаптивною */
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Легкий контур */
  border-radius: 8px; /* Узгоджене округлення */
  background-color: #333; /* Темний фон полів */
  color: rgba(255, 255, 255, 0.87); /* Світлий текст */
  font-size: 1em;
}

.input:focus {
  border-color: #007aff; /* Колір контуру при фокусі */
  outline: none; /* Вимкнено стандартний обведення */
}

.error {
  color: #ff4d4d; /* Червоний колір для помилок */
  font-size: 0.875rem; /* Зменшено розмір шрифту для помилок */
  line-height: 1.5;
}

.containerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Узгоджено відступи */
}
