.list {
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.item {
  box-sizing: border-box;
  border: 4px solid rgb(163, 80, 80);
  border-radius: 10px;
  padding: 15px;
  list-style: none;
  height: auto;
  background-color: #20502c;
}
.error {
  color: rgb(209, 108, 108);
  font-size: 30px;
  font-weight: 700;
}
